
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
}

/*================================================
          Utilities styles
================================================*/
:root {
    --main-color: #1A2E35;
    --side-color: #1CBBB4;
    --btn-color: #FF4F5A;
    --white: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: var(--white);
}

.btn {
    width: 13rem;
    padding: 1.1rem 2rem;
    font-size: 1.5rem;
    /* font-weight: 300; */
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.about-nav {
    background-color: #1A2E35;
}

.about-margin {
    margin-top: -4rem;
}

.about-gap {
    margin-top: 10rem;
}

.work-ecosystem {
    margin: 3rem 0;
}

.category1 {
    margin-top: 6rem;
}

/*==========================================================
                Hero Section Navbar
==========================================================*/
.main {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    position: absolute;
    top: 0;
}

.logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logo {
    width: 22%;
}

.logo-text {
    color: var(--white);
    font-size: 25px;

}

.mid-navbar {
    display: none;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
.mobile-nav {
    margin-top: -3rem;
    margin-bottom: 4rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav-menu {
    /* margin-left: 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    animation-name: example;
    animation-duration: .1s;
}

.mid-navbar a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.mid-navbar a::before{
    content: "";
    position: absolute;
    top: 22px;
    width: 0px;
    height: 2px;
    background-color: var(--btn-color);
    transition: all .4s linear;
}
.mid-navbar a:hover:before{
    width: 50px;
}

.menu-bar {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.close {
    display: none;
}

.close-menu {
    font-size: 25px;
}

/*==========================================================
                Hero Section Content
==========================================================*/
.hero-container {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 2rem;
}

.hero-left {
    width: 54%;
    padding-top: 15rem;
    padding-left: 11.5rem;
    background-color: var(--main-color);
}

.hero-left h1 {
    font-size: 4rem;
    color: var(--white);
    line-height: 1.2;
}

.hero-left p {
    width: 70%;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300;
    color: var(--white);
}

.button-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 2.5rem;
    margin-bottom: 8.5rem;
}

.button-container .btn-left {
    color: var(--white);
    background-color: var(--btn-color);
}

.button-container .btn-left:hover {
    color: var(--btn-color);
    background-color: var(--main-color);
    outline: 1px solid var(--btn-color);
}

.button-container .btn-right {
    color: var(--main-color);
    background-color: var(--white);
}

.button-container .btn-right:hover {
    color: var(--white);
    background-color: var(--main-color);
    outline: 1px solid var(--white);
}

.hero-right {
    width: 46%;
    display: flex;
    align-items: center;
    background-color: var(--side-color);
}

.hero-img {
    width: 75%;
    padding-top: 5rem;
    padding-left: 5rem;
}

/*==========================================================
                arrow buttons
==========================================================*/
/* .arrow-container{
    position: relative;
}
.arrow-box{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 11rem;
    top: -30px;
}
.arrow{
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--side-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow:hover{
    background-color: var(--btn-color);
}
.arrow img{
    width: 25%;
} */

/*==========================================================
                Freelance Section
==========================================================*/
.freelancer {
    /* margin-top: 2vh; */
    padding: 1rem 6rem;
    height: auto;
    width: 100%;
    display: flex;
    gap: 5.5rem;
    align-items: center;
}

/* .freelance-image{
    width: 40%;
} */
.freelance-image img {
    width: 100%;
}

.freelance-content {
    width: 60%;
}

.freelance-heading {
    font-size: 35px;
    margin-bottom: 3rem;
    font-weight: 600;
}

.freelance-para {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    /* font-weight: 400; */
}

.hero-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.btn3 {
    color: var(--white);
    background-color: var(--btn-color);
}

.btn4 {
    color: var(--white);
    background-color: var(--main-color);
}

.btn3:hover {
    color: var(--btn-color);
    outline: 1px solid var(--btn-color);
    background-color: var(--white);
}

.btn4:hover {
    color: var(--main-color);
    outline: 1px solid var(--main-color);
    background-color: var(--white);
}

/*==========================================================
                Category Section
==========================================================*/
.category {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background-color: var(--side-color);
}

.category-heading {
    padding-top: 5rem;
    /* background-color: #FF4F5A; */
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.category-heading::before {
    content: "";
    width: 19rem;
    /* height: 1px; */
    border: 1px solid var(--white);
    position: absolute;
    top: 10rem;
}

.skill-container {
    /* border: 2px solid rebeccapurple; */
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;

}

.skill {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 1rem;
    transition: all .2s ease;
    /* border: 2px solid red; */
}
.skill:hover{
    scale: 1.2;
}

.skill img {
    width: 100%;
    cursor: pointer;
}

.skill-heading {
    color: var(--white);
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.8rem;
    cursor: pointer;
    /* background-color: #1A2E35; */
}

/*==========================================================
                About Section
==========================================================*/
.about {
    width: 100%;
    padding: 2rem 8rem 8rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about img {
    width: 60%;
    /* border: 2px solid red; */
}

.about .about-heading {
    margin-top: -3rem;
    font-size: 3.5rem;
    /* border: 2px solid black; */
}

.about .about-para {
    width: 80%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
}

.about .about-btn {
    margin-top: 1rem;
    ;
    background-color: var(--btn-color);
    color: var(--white);
}

.about .about-btn:hover {
    background-color: var(--white);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

/*==========================================================
                Ecosystem Section
==========================================================*/
.ecosystem {
    width: 100%;
    /* margin-bottom: 2rem; */
    /* padding-top: 2rem; */
}

.eco-heading {
    font-size: 3rem;
    padding-left: 6%;
}

.eco-flex {
    padding-top: 3rem;
    padding-left: 6%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eco-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2.5rem;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}

.eco-logo {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.eco-logo img {
    width: 50%;
}

.eco-money {
    color: var(--btn-color);
    font-size: 20px;
    font-weight: 600;
}

.eco-name {
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.eco-image {
    width: 50%;
    /* background-color: #FF4F5A; */
}

.eco-image img {
    width: 105%;
}

/*==========================================================
            Testimonial Section
==========================================================*/
.testimonial {
    width: 100%;
    padding: 5% 15%;
    /* border: 2px solid rebeccapurple; */
}

.testimonial-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid crimson; */
}

.testimonial-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.client-card {
    width: 90%;
    height: auto;
    display: flex;
}

.swiper {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
    /* overflow: visible; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
    /* overflow: visible; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    /* position: absolute; */
}

.card-heading {
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
}

.card-para {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    /* color: #2c3235; */
    margin-bottom: 1.5rem;
}

.card-comma {
    margin-bottom: 1.5rem;
}

/*==========================================================
            Footer Section
==========================================================*/
.footer {
    width: 100%;
    background-color: var(--main-color);
    padding: 5rem 6rem;
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-navbar {
    display: flex;
}

.left-navbar .logo-footer-name {
    font-size: 3.5rem;
    color: white;
    padding-left: 1.5rem;
}

.right-nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2rem;
}

.right-nav .icon {
    width: 80%;
    cursor: pointer;
}

.footer-content {
    /* border: 1px solid rgb(168, 125, 46); */
    padding: 4rem 0;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex-start */
    gap: 5rem;
    /* color: wheat; */
}

.footer-content .inner-content {
    width: 20%;
}

.content-heading {
    font-size: 2.2rem;
    color: var(--white);
    /* font-weight: 500; */
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.inner-content li {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.inner-content li:hover {
    cursor: pointer;
}

.footer-para {
    color: var(--white);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
}

.input {
    width: 130%;
    padding: 1.2rem 1rem;
    background-color: var(--white);
    /* background-color: red; */
    margin-bottom: 15px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.footer-btn {
    border: 1.5px solid var(--white);
    background-color: var(--btn-color);
    color: var(--white);
    text-transform: uppercase;
}

.footer-btn:hover {
    border: 1.5px solid var(--btn-color);
    color: var(--btn-color);
    background-color: var(--main-color);
}

.footer-bottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8rem;
}

.bottom-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* width: 33%; */
}

.bottom-content img {
    width: 2.5rem;
}

.bottom-para {
    color: var(--white);
    font-size: 1.6rem;
}

.main-footer {
    height: 8vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer h5 {
    font-size: 1.3rem;
    color:#515a5c;
    font-weight: 300;
}

h5 span {
    color: var(--main-color);
    font-weight: 500;
}

/*--------- Making Website Responsive  -------------*/
@media(max-width:768px) {

    /*------ Hero section for smaller device starts her ---- */
    .btn {
        width: 12rem;
        padding: .9rem 1.5rem;
        font-size: 1.4rem;
        /* font-weight: 100; */
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    
    .navbar {
        align-items: flex-start;
    }
    .mobile-nav {
        margin-top: -3rem;
        margin-bottom: 4rem;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        transition: all 4s linear;
    }
    .mobile-nav a{
        color:#fff;
        font-size: 20px;
    }
    .mid-navbar, .nav-menu{
        display: none;
    }

    .hero-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .hero-left {
        width: 100%;
        padding-top: 12rem;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--main-color);
    }

    .hero-left h1 {
        text-align: center;
        font-size: 3rem;
        color: var(--white);
        line-height: 1.2;
    }

    .hero-left p {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        padding: 20px 0;
        font-size: 14px;
        color: var(--white);
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 8px;
        padding-top:1rem;
        padding-bottom: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .hero-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--side-color);
    }

    /*------ Hero section for smaller device  ends here---- */

    /*------ Freelamcer section for smaller device starts here ---- */

    .freelancer {
        margin-top: 10vh;
        padding: 0 5rem;
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10vh;
    }

    .freelance-image {
        display: flex;
        justify-content: center;
    }

    .freelance-image img {
        width: 80%;
    }

    .freelance-content {
        width: 100%;
        padding: 20px 10px;
    }

    .freelance-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    .freelance-para {
        margin-bottom: 3rem;
        font-size: 1.2rem;
        line-height: 1.2;
        font-weight: 300;
    }

    .hero-buttons {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 8px;
    }

    /*------ Freelamcer section for smaller device ends here ---- */

    /*------ Category section for smaller device starts here ---- */
    .category {
        width: 100%;
        height: auto;
        background-color: var(--side-color);
    }

    .category-heading {
        padding-top: 4rem;
        /* background-color: #FF4F5A; */
        font-size: 3rem;
        font-weight: 600;
        color: var(--white);
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }

    .category-heading::before {
        content: "";
        width: 16rem;
        /* height: 1px; */
        border: 1px solid var(--white);
        position: absolute;
        top: 8rem;
    }

    .skill-container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
        place-items: center;
        gap: 4rem;
    }

    /*------ Category section for smaller device ends here ---- */

    /*------ About section for smaller device starts here ---- */
    .about {
        width: 100%;
        padding: 0rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .about img {
        width: 100%;
    }

    .about .about-heading {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 0;
    }

    .about .about-para {
        margin-top: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.4;
    }

    /*------ About section for smaller device ends here ---- */

    /*------ Ecosystem section for smaller device starts here ---- */
    .ecosystem {
        width: 100%;
        margin-bottom: 2rem;
    }

    .eco-heading {
        font-size: 2.5rem;
        padding-left: 5%;
    }

    .eco-flex {
        padding-top: 3rem;
        padding-left: 5%;
        padding-right: 5%;
        display: block;
    }
    .eco-money, .eco-name{
        font-size: 2rem;
    }

    .eco-image {
        width: 100%;
        padding-right: 2rem;
    }

    .eco-image img {
        width: 110%;
    }

    /*------ Ecosystem section for smaller device end here ---- */

    .testimonial {
        width: 100%;
        padding: 5% 5%;
    }
    .testimonial-heading{
        font-size: 2.5rem;
    }
    .card-heading {
        font-size: 2rem;
    }
    .card-para{
        font-size: 1.2rem;
    }

    /*------ testimonial section for smaller device end here ---- */

    /*------ Footer section for smaller device starts here ---- */
    .footer {
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-navbar {
        display: block;
    }

    .left-navbar {
        display: flex;
        margin-bottom: 3rem;
    }
    .left-navbar .logo-footer{
        width: 15%;
    }
    .left-navbar .logo-footer-name {
        font-size: 3rem;
        color: white;
    }
    .inner-content li {
        font-size: 1.4rem;
        margin-bottom: 8px;
    }
    .footer-content {
        margin-top: 0rem;
        text-align: center;
        display: block;
    }

    .footer-content .inner-content {
        width: 100%;
        margin-bottom: 3rem;
    }

    .content-heading {
        font-size: 2rem;
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .footer-para{
        font-size: 1.4rem;
    }
    .input {
        width: 60%;
        margin: 1rem auto;  
        padding: .8rem 1rem;
        background-color: var(--white);
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.6rem;
    }

    .footer-bottom {
        margin-top: -5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .bottom-content {
        margin-top: 2rem;
        display: flex;
        align-items: center;
    }

    .main-footer h5 {
        width: 100%;
        text-align: center;
    }

    /*------ Footer section for smaller device ends here ---- */
}

@keyframes example {
    from {
        transform: translateX(850px);
    }

    to {
        transform: translateX(0px);
    }
}